<div
  class="col-12 col-sm-11 col-md-10 col-lg-8 mx-auto"
  [formGroup]="passwordForm"
>
  <div class="mb-3">
    <p class="title-text">Create your password</p>
    <p class="body-text">
      Create a secure password to use in accessing your account
    </p>
  </div>

  <div class="alert alert-success mb-3">
    <p class="mb-0">
      Password must have at least 8 characters. Must include one uppercase, one
      lowercase and a special character
    </p>
  </div>

  <app-form-field class="mb-3">
    @if (fc.password.value) {
    <div class="d-flex justify-content-between align-items-center">
      <label for="confirm-password">Password</label>
      <button class="btn" type="button" (click)="clear(fc.password)">
        Clear
      </button>
    </div>
    }
    <input
      type="text"
      id="password"
      autocomplete="off"
      placeholder="Enter password"
      formControlName="password"
      [class.error]="fc.password.touched && fc.password.errors"
    />
  </app-form-field>

  <app-form-field class="mb-5">
    @if (fc.confirmPassword.value) {
    <div class="d-flex justify-content-between align-items-center">
      <label for="confirm-password">Confirm Password</label>
      <button class="btn" type="button" (click)="clear(fc.confirmPassword)">
        Clear
      </button>
    </div>
    }
    <input
      type="text"
      id="confirm-password"
      autocomplete="off"
      placeholder="Confirm password"
      formControlName="confirmPassword"
      [class.error]="fc.confirmPassword.touched && fc.confirmPassword.errors"
    />
  </app-form-field>

  <div class="mb-5">
    <div class="password-strength-pane d-flex justify-content-between gap-3">
      <ngb-progressbar
        class="mb-3"
        [type]="progressType"
        [value]="weakStrength"
        [height]="'5px'"
      />
      <ngb-progressbar
        class="mb-3"
        [type]="progressType"
        [value]="mediumStrength"
        [height]="'5px'"
      />
      <ngb-progressbar
        class="mb-3"
        [type]="progressType"
        [value]="strongStrength"
        [height]="'5px'"
      />
    </div>

    @if (fc.password.touched) {
    <div>
      <p class="small">{{ trackerText }}</p>

      <ul class="password-strength-tracker">
        @for (item of Trackers; track $index) {
        <li>
          <app-svg-icon
            [icon]="item.valid ? 'check-circle-solid' : 'close-circle-solid'"
            [size]="14"
            [class]="item.valid ? 'text-success' : 'text-danger'"
          ></app-svg-icon>
          <span>{{ item.text }}</span>
        </li>
        }
      </ul>
    </div>
    }
  </div>

  <div class="d-grid">
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      [disabled]="passwordForm.invalid"
      (click)="submit()"
    >
      Done
    </button>
  </div>
</div>
