.password-strength-pane {
  > * {
    width: calc(calc(100% / 3) - calc(1rem * 2));
  }
}

.subtitle {
  font-size: 0.75rem;
  color: #777777;
}

.alert-success {
  --bs-alert-bg: #edf8f1;
  --bs-alert-border-color: #edf8f1;
  --bs-alert-color: #025f68;
  font-size: 0.8rem;
}

.password-strength-tracker {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;

    span {
      vertical-align: middle;
      display: inline-flex;
    }
  }
}
