<main class="d-flex">
  <div class="hero d-none d-lg-flex">
    <div class="hero-banner">
      <img
        src="images/school-kit-banner.png"
        alt=""
        class="hreo-banner"
        width="1080"
        height="1080"
        draggable="false"
      />
    </div>
  </div>
  <div class="main-content">
    <div class="card border-0">
      <div class="card-body">
        <header class="mb-3">
          <p class="title mb-0">Login into SchoolKit</p>
          <p class="body-text mb-0">Take control of your payments</p>
        </header>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <app-form-field class="mb-3">
            <label for="email" class="visible">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Enter your email"
              formControlName="email"
              [class.error]="
                fc.email.invalid && (fc.email.dirty || fc.email.touched)
              "
            />
          </app-form-field>

          <app-form-field class="mb-4">
            <label for="password" class="visible">Password</label>
            <div class="password-pane">
              <input
                [type]="passwordType"
                [autocomplete]="'off'"
                id="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                [class.error]="
                  fc.password.invalid &&
                  (fc.password.dirty || fc.password.touched)
                "
              />
              @if (fc.password.value) {
              <button type="button" class="btn" (click)="toggleMode()">
                <app-svg-icon [icon]="passwordIcon" [size]="15"></app-svg-icon>
              </button>
              }
            </div>
          </app-form-field>

          <div class="d-grid gap-4 mb-3">
            <button
              class="btn btn-primary btn-lg"
              [disabled]="loginForm.invalid"
              type="submit"
            >
              <app-loader [loading]="processing"></app-loader>
              <span>Log in</span>
            </button>
            <button class="btn btn-outline-primary btn-lg" type="button">
              <app-svg-icon
                [icon]="'google'"
                [size]="20"
                class="me-3"
              ></app-svg-icon>
              <span>Continue with Google</span>
            </button>
          </div>

          <p class="body-text">
            Don't have an account?
            <a class="link fw-bold" routerLink="/signup">Signup</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</main>
