<div class="modal-header">
  <p class="modal-title mb-0">Create Staff</p>

  <button
    class="btn-close"
    type="button"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  @switch (currentView) { @case (StaffFormViews.Main) {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  } @case (StaffFormViews.RoleAndPermissions) {
  <ng-container *ngTemplateOutlet="roleAndPermissionsTemplate"></ng-container>
  } @case (StaffFormViews.RoleAndPermissions){ } }
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="prev()">Back</button>
  <button class="btn btn-primary" (click)="next()">Next</button>
  <button class="btn btn-primary" (click)="save()">Save</button>
  <button class="btn btn-secondary" (click)="close()">Cancel</button>
</div>

<!-- Templates -->
<ng-template #mainTemplate>
  <div class="row">
    <div class="col-12 col-lg-6 mb-3">
      <app-form-field>
        <label for="firstname" class="visible">First Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="First Name"
          id="firstname"
        />
      </app-form-field>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <app-form-field>
        <label for="lastname" class="visible">Last Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          id="lastname"
        />
      </app-form-field>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <app-form-field>
        <label for="email" class="visible">Email</label>
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          id="email"
        />
      </app-form-field>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <app-form-field>
        <label for="phone" class="visible">Phone Number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Phone Number"
          id="phone"
        />
      </app-form-field>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <app-form-field>
        <label for="gender" class="visible">Gender</label>
        <input
          type="text"
          class="form-control"
          placeholder="Gender"
          id="gender"
        />
      </app-form-field>
    </div>

    <div class="col-12 col-lg-6 mb-3">
      <app-form-field>
        <label for="dateOfBirth" class="visible">Date Of Birth</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Date Of Birth"
            id="dateOfBirth"
          />

          <button class="btn input-group-suffix">
            <app-svg-icon [icon]="'calendar'" [size]="15"></app-svg-icon>
          </button>
        </div>
      </app-form-field>
    </div>

    <div class="col-12 mb-3">
      <app-form-field>
        <label for="gender" class="visible">Address</label>
        <textarea
          class="form-control"
          placeholder="Address"
          id="address"
          rows="2"
        ></textarea>
      </app-form-field>
    </div>
  </div>
</ng-template>
<ng-template #roleAndPermissionsTemplate>
  <div class="row">
    <div class="col-12 mb-3">
      <app-form-field>
        <label for="role" class="visible">Roles</label>
        <app-chip-grid #roleChips>
          @for (item of selectedRoles; track $index) {
          <app-chip-item>
            {{ item }}
          </app-chip-item>
          }
          <input
            #roleInput
            id="roles"
            type="text"
            placeholder="Search roles"
            [appChipInputFor]="roleChips"
            [appChipInputAddOnBlur]="false"
            [appChipSeparatorKeys]="keySeparators"
            [ngbTypeahead]="searchRole"
            [resultTemplate]="roleResultTemplate"
            [inputFormatter]="roleFormatter"
            [showHint]="false"
            (selectItem)="addRole($event); roleInput.value = ''"
          />
        </app-chip-grid>
      </app-form-field>
    </div>

    <div class="col-12 mb-3">
      <app-form-field>
        <label for="class-teacher" class="visible">Class assigned</label>
        <app-chip-grid #roleChips>
          @for (item of selectedRoles; track $index) {
          <app-chip-item>
            {{ item }}
          </app-chip-item>
          }
          <input
            #roleInput
            id="class-teacher"
            type="text"
            placeholder="Search roles"
            [appChipInputFor]="roleChips"
            [appChipInputAddOnBlur]="false"
            [appChipSeparatorKeys]="keySeparators"
            [ngbTypeahead]="searchRole"
            [resultTemplate]="roleResultTemplate"
            [inputFormatter]="roleFormatter"
            [showHint]="false"
            (selectItem)="addRole($event); roleInput.value = ''"
            [container]="'body'"
          />
        </app-chip-grid>
      </app-form-field>
    </div>
  </div>

  <ng-template #roleResultTemplate let-r="result" let-t="term">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </ng-template>

  <ng-template #classResultTemplate let-r="result" let-t="term">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </ng-template>
</ng-template>
<!-- Templates -->
