<div class="modal-header">
  <p class="mb-0 modal-title fw-bold">Change Password</p>
</div>

<div class="modal-body">
  <form class="mb-0">
    <app-form-field class="mb-3">
      <label for="current-password" class="visible">Current password</label>
      <input type="text" placeholder="Current password" id="current-password" />
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="new-password" class="visible">New password</label>
      <input type="text" placeholder="New password" id="new-password" />
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="confirm-password" class="visible">Confirm password</label>
      <input type="text" placeholder="Confirm password" id="confirm-password" />
    </app-form-field>
  </form>
</div>

<div class="modal-footer gap-3">
  <button type="button" class="btn btn-primary">Confirm</button>
  <button type="button" class="btn btn-light" (click)="close()">Cancel</button>
</div>
