<main class="d-flex">
  <div
    class="sidebar"
    [class.sidebar-collapse]="isSidebarCollapsed"
    [class.open]="isSidebarOpen"
  >
    <div class="d-flex flex-column">
      <div class="sidebar-header">
        <div class="d-flex justify-content-center mb-3">
          <button class="btn p-0" type="button" (click)="toggleSidebar()">
            <app-svg-icon [icon]="'close'" [size]="25"></app-svg-icon>
          </button>
        </div>
      </div>
      <div class="mb-4 mt-2">
        <app-logo></app-logo>
      </div>

      <!-- Profile -->
      <div class="d-flex align-items-center gap-3 profile mb-4">
        <app-avatar [text]="'John Doe'" [size]="40"></app-avatar>
        <div class="profile-info">
          <div class="d-flex flex-column">
            <p class="profile-title mb-0">John Doe</p>
            <p class="profile-subtitle mb-0">Proprietor</p>
          </div>
        </div>
      </div>
      <!-- Profile -->

      <ul class="nav nav-pills flex-column gap-0 sidebar-pills" role="menu">
        @for (item of menu.items.slice(0, menu.items.length - 1); track $index)
        {
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: $index === 0, }"
            [routerLink]="item.route"
            [attr.aria-label]="item.title"
          >
            <app-svg-icon [icon]="item.icon" [size]="25"></app-svg-icon>
            <span class="menu-title">{{ item.title }}</span>
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="d-flex flex-column">
      <ul class="nav nav-pills sidebar-pills flex-column gap-0" role="menu">
        @for (item of menu.items.slice(menu.items.length - 1); track $index) {
        <li class="nav-item">
          <a
            [routerLink]="item.route"
            class="nav-link"
            [attr.aria-label]="item.title"
            [class.active]="item === activeMenuItem"
          >
            <app-svg-icon [icon]="item.icon" [size]="25"></app-svg-icon>
            <span class="menu-title">{{ item.title }}</span>
          </a>
        </li>
        }
        <li class="nav-item">
          <a
            class="nav-link"
            [attr.aria-label]="'create school'"
            [tooltipClass]="'menu-tooltip'"
            [ngbTooltip]="'Create School'"
          >
            <app-svg-icon [icon]="'add'" [size]="25"></app-svg-icon>
            <span class="menu-title">Create School</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [attr.aria-label]="'logout'"
            [tooltipClass]="'menu-tooltip'"
            [ngbTooltip]="'Log Out'"
          >
            <app-svg-icon [icon]="'logout'" [size]="25"></app-svg-icon>
            <span class="menu-title">Log Out</span>
          </a>
        </li>
      </ul>
    </div>

    <button
      class="btn sidebar-size-toggler"
      type="button"
      (click)="toggleSidebar()"
    >
      <app-svg-icon [icon]="'chevron-right'" [size]="15"></app-svg-icon>
    </button>
  </div>

  <section class="main-content">
    <!-- Top Bar -->
    <div class="top-navbar sticky-top pt-3 pb-2 bg-white">
      <div class="container-fluid">
        <div
          class="d-flex align-items-center justify-content-end justify-content-sm-between gap-3 w-100"
        >
          <button
            class="btn sidebar-toggler p-0"
            type="button"
            (click)="toggleSidebar()"
          >
            <app-svg-icon [icon]="'menu-left'" [size]="25"></app-svg-icon>
          </button>
          <div class="w-100">
            <app-search></app-search>
          </div>
          <div class="d-flex align-items-center gap-3">
            <button class="btn" type="button">
              <app-svg-icon [icon]="'bell'" [size]="25"></app-svg-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar -->
    <ng-content></ng-content>
  </section>
</main>
