<ngx-intl-tel-input
  class="form-tel"
  [cssClass]="'form-tel-input' + (inputControl.invalid && inputControl.touched)"
  [preferredCountries]="preferredCountries"
  [enableAutoCountrySelect]="true"
  [enablePlaceholder]="true"
  [searchCountryFlag]="true"
  [searchCountryField]="searchCountryField"
  [selectFirstCountry]="false"
  [selectedCountryISO]="selectedCountryISO"
  [minlength]="10"
  [maxLength]="15"
  [phoneValidation]="true"
  [inputId]="inputID"
  [formControl]="inputControl"
  [separateDialCode]="true"
  [required]="true"
></ngx-intl-tel-input>
