<div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6 mx-auto">
  <form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <p class="title-text mb-0">Personal Information</p>
      <p class="body-text mb-0">Let's get to know you</p>
    </div>
    <app-form-field class="mb-3">
      <label for="first-name" class="visible"
        >First Name<span class="text-danger">*</span></label
      >
      <input
        class="form-control"
        placeholder="First Name"
        id="first-name"
        formControlName="firstName"
        [class.error]="
          fc.firstName.invalid && (fc.firstName.dirty || fc.firstName.touched)
        "
      />
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="middle-name" class="visible">Middle Name</label>
      <input
        class="form-control"
        placeholder="Middle Name"
        id="middle-name"
        formControlName="middleName"
        [class.error]="
          fc.middleName.invalid &&
          (fc.middleName.dirty || fc.middleName.touched)
        "
      />
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="last-name" class="visible"
        >Last Name <span class="text-danger">*</span></label
      >
      <input
        class="form-control"
        placeholder="Last Name"
        id="last-name"
        formControlName="lastName"
        [class.error]="
          fc.lastName.invalid && (fc.lastName.dirty || fc.lastName.touched)
        "
      />
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="gender" class="visible"
        >Gender <span class="text-danger">*</span></label
      >
      <select
        class="form-select"
        id="gender"
        formControlName="gender"
        [class.error]="
          fc.gender.invalid && (fc.gender.dirty || fc.gender.touched)
        "
      >
        <option value="" disabled selected hidden>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="gender" class="visible"
        >Country <span class="text-danger">*</span></label
      >
      <select
        class="form-select"
        id="gender"
        formControlName="country"
        [class.error]="
          fc.country.invalid && (fc.country.dirty || fc.country.touched)
        "
      >
        <option value="" disabled selected hidden>Country</option>
        @for (country of countries; track $index) {
        <option [value]="country.name">{{ country.name }}</option>
        }
      </select>
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="gender" class="visible"
        >States <span class="text-danger">*</span></label
      >
      <select
        class="form-select"
        id="gender"
        formControlName="state"
        [class.error]="fc.state.invalid && (fc.state.dirty || fc.state.touched)"
      >
        <option value="" disabled selected hidden>State</option>
        @for (state of states; track $index) {
        <option [value]="state.name">{{ state.name }}</option>
        }
      </select>
    </app-form-field>

    <app-form-field class="mb-3">
      <label for="email" class="visible"
        >Email <span class="text-danger">*</span></label
      >
      <input
        class="form-control"
        placeholder="example@mail.com"
        id="email"
        formControlName="email"
        [readOnly]="true"
        [class.error]="fc.email.invalid && (fc.email.dirty || fc.email.touched)"
      />
    </app-form-field>

    <app-form-field class="mb-5">
      <label for="phone" class="visible"
        >Phone <span class="text-danger">*</span></label
      >
      <app-form-tel-input
        id="phone"
        formControlName="phone"
        [class.error]="fc.phone.invalid && (fc.phone.dirty || fc.phone.touched)"
      ></app-form-tel-input>
    </app-form-field>

    <button class="btn btn-primary btn-lg" type="submit">Next</button>
  </form>
</div>
