<main class="signup-wizard">
  <aside>
    <div class="py-3">
      <a routerLink="/">
        <app-logo></app-logo>
      </a>
    </div>
    <app-stepper>
      @for (item of steps; track $index) {
      <app-stepper-item
        [step]="item.step"
        [title]="item.title"
        [isActive]="activeStep === item.step"
        [isCompleted]="item.isCompleted"
      ></app-stepper-item>
      }
    </app-stepper>
  </aside>
  <section class="signup-wizard-content">
    <div class="container-lg">
      @switch (activeStep) { @case (1) {
      <app-personal-information
        [personalData]="personalData"
        (onStepChange)="onStepChange($event)"
      ></app-personal-information>
      } @case (2) {
      <app-create-password
        (onStepChange)="onStepChange($event)"
      ></app-create-password>
      } @case (3) {
      <div class="col-12 col-lg-6 mx-auto">
        <div
          class="welcome-message d-flex flex-column align-items-center text-center"
        >
          <img
            src="/images/happy-announcement.svg"
            alt="Announcement"
            class="mb-3"
            draggable="false"
          />
          <p class="title-text">Welcome to School Kit</p>
          <p>
            You are all set to start using School Kit. You can now log in and
            start exploring the features and tools available to you.
          </p>

          <button
            class="btn btn-primary btn-lg"
            type="button"
            (click)="login()"
          >
            Finish
          </button>
        </div>
      </div>
      } }
    </div>
  </section>
</main>
