<div class="row mb-3">
  <div class="col-12 col-md-4 mb-3 mb-md-0">
    <app-metric-card
      [icon]="'people'"
      [iconColor]="'#073B4C'"
      [iconBgColor]="'#073B4C2A'"
      [value]="440"
      [title]="'Students'"
      [percent]="0.5"
      [percentText]="'Up from yesterday'"
    ></app-metric-card>
  </div>
  <div class="col-12 col-md-4 mb-3 mb-md-0">
    <app-metric-card
      [icon]="'class'"
      [iconColor]="'#FFD166'"
      [iconBgColor]="'#FFD1662A'"
      [value]="380"
      [title]="'Classes'"
      [percent]="1.3"
      [percentText]="'Up from past week'"
    ></app-metric-card>
  </div>
  <div class="col-12 col-md-4 mb-3 mb-md-0">
    <app-metric-card
      [icon]="'books'"
      [iconColor]="'#06D6A0'"
      [iconBgColor]="'#06D6A02A'"
      [value]="44000"
      [title]="'Subjects'"
      [percent]="-4.3"
      [percentText]="'Down from yesterday'"
    ></app-metric-card>
  </div>
</div>
