:host {
  display: flex;
  flex-direction: column;

  .card {
    border-radius: 8px;

    .card-body {
      .dot {
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
      }
    }
  }
}
