<app-main-layout>
  <div class="container-lg">
    <h1 class="title">Hello, {{ "Patricia" }}</h1>

    <div class="row mb-3">
      <div class="col-12 col-md-4">
        <app-metric-card
          [icon]="'user-group'"
          [iconColor]="'#073B4C'"
          [iconBgColor]="'#073B4C2A'"
          [value]="440"
          [title]="'Students'"
          [percent]="0.5"
          [percentText]="'Up from yesterday'"
        ></app-metric-card>
      </div>
      <div class="col-12 col-md-4">
        <app-metric-card
          [icon]="'user-group'"
          [iconColor]="'#FFD166'"
          [iconBgColor]="'#FFD1662A'"
          [value]="380"
          [title]="'Staffs'"
          [percent]="1.3"
          [percentText]="'Up from past week'"
        ></app-metric-card>
      </div>
      <div class="col-12 col-md-4">
        <app-metric-card
          [icon]="'line-chart'"
          [iconColor]="'#06D6A0'"
          [iconBgColor]="'#06D6A02A'"
          [value]="44000"
          [title]="'Payments'"
          [percent]="-4.3"
          [percentText]="'Down from yesterday'"
        ></app-metric-card>
      </div>
    </div>

    <div class="mb-3">
      <p class="fw-bold">Administration</p>
      <div>
        <owl-carousel-o [options]="options">
          @for (item of users; track $index) {
          <ng-template carouselSlide [id]="item.id">
            <div class="p-1">
              <app-profile-card
                [src]="item.src"
                [name]="item.name"
                [designation]="item.designation"
              ></app-profile-card>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="fw-bold mb-0">All Payments</p>
      </div>

      <app-payment-chart></app-payment-chart>
    </div>
  </div>
</app-main-layout>
